.about {
    margin-top: 5%;
    text-align: center;
    padding: 10px 20px;
    padding-bottom: 20px;
}

.about h1 {
    padding-bottom: 20px;
}

.info p {
    padding-bottom: 20px;
    text-align: justify;
    line-height: normal;
}